/* Input styles */

.input-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    background-color: #f3f4f6;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 10px;
    height: 10px;
}

label {
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* General Section Styles */
section.container {
    padding: 18px;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px black;
}

h2.container-title {
    font-size: 20px;
}

.collapsable-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button.add-education {
    align-self: center;
}

.form-buttons {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.schools {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.schools > li {
    list-style: none;
    background-color: #f3f4f6;
    border-radius: 12px;
    padding: 10px;
    transition: background-color 500ms;
    cursor: pointer;
}

.schools > li:hover {
    background-color: #0e374e;
    color: white;
}


/* Resume Styles */
section.resume {
    position: relative;
    max-width: 600px;
    height: auto;
    width: 100%;
    background-color: white;
}

header.resume-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: #0e374e;
    padding: 35px;
    color: white;
}

.resume-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.resume-title {
    font-size: 30px;
}

.resume-contact > * {
    font-size: 18px;
}

.resume-education {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resume-section-header {
    text-align: center;
    background-color: #f3f4f6;
    color: #0e374e;
    padding: 5px;
    font-size: 18px;
}

.resume-education-content {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.school {
    font-weight: bold;
    font-size: 18px;
}

.degree {
    font-size: 13px
}

.date, .location {
    font-size: 16px;
}